@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
}

.card.card-1 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    /* margin: 0 100px; */
    height: 127px;
}

.card.card-2 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    height: 127px;
}

td,
h4 {
    color: white;
}